@font-face {
    font-family: Outfit;
    src: url(./assets/fonts/outfit/Outfit-VariableFont_wght.ttf);
}
@font-face {
    font-family: Youngserif;
    src: url(./assets/fonts/young-serif/YoungSerif-Regular.ttf);
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin: 0;
}
ul[role='list'],
ol[role='list'] {
  list-style: none;
}
body {
  min-height: 100svh;
  line-height: 1.5;
  background-color: #f3e5d7;
  color: #5f564d;
  font-family: Outfit;
  font-weight: normal;
}
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}
h1, h2,
h3, h4 {
  text-wrap: balance;
}
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}
img,
picture {
  max-width: 100%;
  display: block;
}
input, button,
textarea, select {
  font-family: inherit;
  font-size: inherit;
}
textarea:not([rows]) {
  min-height: 10em;
}
:target {
  scroll-margin-block: 5ex;
}
img {
    border-radius: 12px;
    margin-bottom: 40px;
}
.div-main {
    max-width: 736px;
    /* max-height: 1872px; */
    /* min-width: 375px; */
    /* min-height: 1700px; */
    padding: 40px;
    background-color: #fff;
    border-radius: 24px;
    margin: 128px auto;
}
/* main {
    display: flex;
    justify-content: center;
    align-items: center;
} */
@media screen and (max-width: 500px) {
    .div-main {
        margin: 0;
        border-radius: 0;
        padding: 0
    }
    .heading {
        margin-top: 40px;
    }
    .nutrition {
        margin-bottom: 40px;
    }
    img {
        border-radius: 0;
    }
    .mobile-padding {
        padding: 0 32px;
    }
    hr {
        width: 86%;
    }
}
.heading h1 {
    margin-bottom: 24px;
}
.prep-time {
    margin: 32px 0;
    padding: 24px;
    background-color: #fff7fb;
    border-radius: 12px;
}
.prep-time h3 {
    margin-bottom: 16px;
}
.ingredients {
    margin: 32px 0;
}
.ingredients h2, .instructions h2 {
    margin-bottom: 24px;
}
.instructions {
    margin: 32px 0;
}
.nutrition {
    margin-top: 32px;
}
.nutrition p {
    margin: 24px 0 12px 0;
}
li {
    margin-left: -22px;
}
.prep-time li::marker {
    color: #7a284e
}
ol > li::marker {
    font-weight: bold;
}
.ingredients li::marker, .instructions li::marker {
    color: #854632;
}
table {
    border-collapse: collapse;
    border-style: hidden;
}
table tr {
    border: 1px solid #e3ddd7;
}
td {
    padding: 12px 24px;
    width: 100%;   
}
h1 {
    color: #312e2c;
    font-size: 2.5rem;
    line-height: 100%;
    font-family: Youngserif;
    font-weight: normal;
}
h2 {
    color: #854632;
    font-size: 1.75rem;
    line-height: 100%;
    font-family: Youngserif;
    font-weight: normal;
}
h3 {
    font-family: Outfit;
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 100%;
    color: #7a284e;
}
.table-bold {
    color: #854632
}
hr {
    border-color: #e3ddd7;
}
